.u-section-1 .u-sheet-1 {
  min-height: 1276px;
}

.u-section-1 .u-text-1 {
  margin: 42px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -27px 173px 0 auto;
}

.u-section-1 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 735px;
  grid-template-columns: 100%;
  grid-gap: 39px 39px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 4px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -96px 36px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.4286em;
  background-image: none;
}

.u-section-1 .u-text-3 {
  margin: -31px 214px 0 377px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 24px auto 0 253px;
  padding: 0 18px 0 17px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  background-image: none;
  margin: -51px auto 0 174px;
  padding: 0 15px 0 14px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: -17px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 4px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -96px 36px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.4286em;
  background-image: none;
}

.u-section-1 .u-text-6 {
  margin: -31px 214px 0 377px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  background-image: none;
  margin: -8px auto 0 253px;
  padding: 0 18px 0 17px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  background-image: none;
  margin: -51px auto 0 174px;
  padding: 0 15px 0 14px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 15px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 4px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -96px 36px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.4286em;
  background-image: none;
}

.u-section-1 .u-text-9 {
  margin: -31px 214px 0 377px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 24px auto 0 253px;
  padding: 0 18px 0 17px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  background-image: none;
  margin: -51px auto 0 174px;
  padding: 0 15px 0 14px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: -17px auto 0 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 124px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 138px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: -136px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 114px;
    margin-left: 277px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 53px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-5 {
    border-style: none;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 114px;
    margin-left: 277px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 53px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-8 {
    border-style: none;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 114px;
    margin-left: 277px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 53px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 4px;
    margin-left: 167px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 4px;
    margin-left: 167px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 4px;
    margin-left: 167px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 73px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -71px;
  }

  .u-section-1 .u-btn-11 {
    margin-bottom: 60px;
  }
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  letter-spacing: 0px !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  letter-spacing: 0px !important;
}

.u-section-1 .u-btn-6,
.u-section-1 .u-btn-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-7,
.u-section-1 .u-btn-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7:hover {
  letter-spacing: 0px !important;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7.hover {
  letter-spacing: 0px !important;
}

.u-section-1 .u-btn-9,
.u-section-1 .u-btn-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-10,
.u-section-1 .u-btn-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-10.u-btn-10.u-btn-10:hover {
  letter-spacing: 0px !important;
}

.u-section-1 .u-btn-10.u-btn-10.u-btn-10.hover {
  letter-spacing: 0px !important;
}